{% extends 'front/base.html' %}
{% from "common/_macros.html" import static %}


{% block title %}
    PHSGA-DA ABOUT

{% endblock %}


{% block content %}

<section class="pt-200 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div>
                                    <div class="main__form2 main__form-2">
                                        <div class="main__form-content">
                                            <h3>
                                                About Us
                                            </h3>
                                            <hr>
                                            Please feel free to reach us at <a href="#" style="color: blue">2819279533@qq.com</a> for any questions and comments.
                                            <br>
                                            <!-- Project address: <a href="#" style="color: blue">https://github.com/wertabc/SPT-IFL</a>. -->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

{% endblock %}